*{
    box-sizing: border-box;
    margin: 0;
}

.main-nav{
    background-color: rgb(0,23,98);
    height: 50px;
    padding-left: 10%;
}

.main-nav-logo{
    height: 50px;
    width: 100px;
    border-radius: 6px;
}

.main-title-logos{
    display: flex;
}

.main-section{
    display: flex;
    margin: auto;
    height: 105px;
}

.main-section img{
    display: block;
}

.main-title-content{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(228, 159, 32);
    font-family:'Comic Neue',cursive;
    font-size: 25px;
    width: 60%;
    height: 50px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 0px;
    
}

.main-footer{
    text-align: center;
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 80px;
}
.main-footer-text{
    display: flex;
    width: 60%;
    align-items: center;

}

.main-footer p{
    font-family: 'Comic Neue',cursive;
}



.card-container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-container-img{
    height: 140px;
}

.card-container-info{
    font-size: 40px;
}

.card-container-nombre{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.btn{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
}

.btn:hover{
    background-color: #008CBA;
    color: white;
}

.btn-anular{
    color: black;
    background: transparent;
    border-radius: 6px;
    border: 1px solid black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 20%;
    margin-left: 30%;
    margin-top: 30px;
    width: 40%;
}

.btn-anular:hover{
    background: red;
    border: 1px solid red;
}

.btn-confirmar{
    color: black;
    background: transparent;
    border-radius: 6px;
    border: 1px solid black;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 20%;
    margin-left: 30%;
    margin-top: 30px;
    width: 40%;
}

.btn-confirmar:hover{
    background: rgb(94,195,4);
    border: 1px solid rgb(94,195,4);
}

.main-explore{
    display: flex;
    margin-left: 15%;  
    margin-top: 0%; 

}

.paraguay{
    transform: rotate(20deg);
}

.main-explore div{
    margin: 7px;
}

.main-explore-section:hover{
    border: 1px solid rgb(94,195,4);
}

.main-explore-section-candidato1{
    border: 1px solid rgb(94,195,4);
    background-color: rgb(177, 252, 117);
    opacity: .6;
}

.main-explore-section-candidato2{
    border: 1px solid rgb(94,195,4);
    background-color: rgb(177, 252, 117);
    opacity: .6;
}

.main-explore-section-candidato3{
    border: 1px solid rgb(94,195,4);
    background-color: rgb(177, 252, 117);
    opacity: .6;
}


.main-footer-img-left{
    width: 20%;
    margin-left:15px;
}

.main-footer-img-right{
    width: 20%;
    padding-right: 10%;
}


.main-footer img{
    height: 70px;
}

.main-footer-text-right{
    width: 50%;
    text-align: right;
    padding-right: 2%;
}

.main-footer-text-left{
    width: 50%;
    text-align: left;
}

